.pdf-final .top-line {
  background: #101214;
  margin-bottom: 12px;
  width: 595px;
  height: 4px;
}
.pdf-final .frame-331 {
  background: url('../assets/images/frame_333.png');
  margin-right: 27.4px;
  width: 147px;
  height: 46px;
}
.xp-sub7 {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.xp {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.pdf-final .xp {
  margin: 7px 0 12px 0;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5;
  color: #101214;
}
.pdf-final .container-7 {
  margin: 0 5.4px 30px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.pdf-final .avatar {
  box-shadow: 0px 2px 4px 0px rgba(16, 18, 20, 0.08);
  border-radius: 36px;
  background: url('../assets/images/avatar.jpeg') 50% / cover no-repeat;
  margin: 4px 19px 0 0;
  width: 72px;
  height: 72px;
}
.pdf-final .title {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #101214;
}
.pdf-final .title-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 0.556;
  color: #101214;
}
.title-1-sub114 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #066CD2;
}
.title-1-sub115 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.title-1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 10px;
  line-height: 1.333;
}
.pdf-final .frame-15 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pdf-final .frame-16 {
  margin: 0 51px 30px 51px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pdf-final .your-cgpa {
  margin-right: 4px;
  width: 33px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .required-cgpa {
  margin-right: 14.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .eligibility {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pdf-final .container-2 {
  margin-right: 24.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 146.5px;
  box-sizing: border-box;
}
.pdf-final .cgpa {
  margin: 3px 7px 1px 0;
  display: inline-block;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .container-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0.2px;
  line-height: 1.25;
  color: #000000;
}
.pdf-final .frame-39044 {
  border-radius: 2px 0 0 2px;
  border: 0.5px solid #000000;
  padding: 3.5px 9.5px;
  width: 60px;
  box-sizing: border-box;
}
.pdf-final .container-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0.2px;
  line-height: 1.25;
  color: #000000;
}
.pdf-final .frame-39045 {
  border-top: 0.5px solid #000000;
  border-bottom: 0.5px solid #000000;
  padding: 3.5px 10px;
  width: 60px;
  box-sizing: border-box;
}
.pdf-final .png-transparent-correct-mark-tick-icon-thumbnail-prev-ui {
  background: url('../assets/images/png_transparent_correct_mark_tick_icon_thumbnail_prev_ui.png') 50% / cover no-repeat;
  width: 10px;
  height: 10px;
}
.pdf-final .frame-390461 {
  border-radius: 0 2px 2px 0;
  border: 0.5px solid #000000;
  display: flex;
  padding: 3.5px 0;
  width: 60px;
  height: 18px;
  box-sizing: border-box;
}
.pdf-final .frame-39046 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pdf-final .container-3 {
  margin: 0 36px 4px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 356px;
  box-sizing: border-box;
}
.pdf-final .subject {
  margin: 9px 7px 3px 0;
  display: inline-block;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .your-chosen-subject {
  margin-right: 4px;
  width: 63px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .match {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .frame-39049 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 140px;
  box-sizing: border-box;
}
.pdf-final .container-4 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0.2px;
  line-height: 1.25;
  color: #000000;
}
.pdf-final .frame-390441 {
  border-radius: 2px 0 0 2px;
  border-left: 0.5px solid #000000;
  border-top: 0.5px solid #000000;
  border-bottom: 0.5px solid #000000;
  padding: 3.5px 9.5px;
  width: 120px;
  box-sizing: border-box;
}
.pdf-final .png-transparent-correct-mark-tick-icon-thumbnail-prev-ui-1 {
  background: url('../assets/images/png_transparent_correct_mark_tick_icon_thumbnail_prev_ui.png') 50% / cover no-repeat;
  width: 10px;
  height: 10px;
}
.pdf-final .frame-390462 {
  border-radius: 0 2px 2px 0;
  border: 0.5px solid #000000;
  display: flex;
  padding: 3.5px 0;
  width: 60px;
  height: 18px;
  box-sizing: border-box;
}
.pdf-final .frame-39048 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pdf-final .frame-39050 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pdf-final .container-5 {
  margin: 0 36px 5px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 356px;
  box-sizing: border-box;
}
.pdf-final .your-budget {
  margin-right: 4px;
  width: 37px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .required-budget {
  margin-right: 9.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .match-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 6px;
  line-height: 1.333;
  color: #73808D;
}
.pdf-final .container-4 {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pdf-final .container {
  margin-right: 31.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 139.1px;
  box-sizing: border-box;
}
.pdf-final .university-cost {
  margin: 2px 7px 2px 0;
  display: inline-block;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .container-5 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0.2px;
  line-height: 1.25;
  color: #000000;
}
.pdf-final .frame-390442 {
  border-radius: 2px 0 0 2px;
  border: 0.5px solid #000000;
  padding: 3.5px 9.5px;
  width: 60px;
  box-sizing: border-box;
}
.pdf-final .container-6 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0.2px;
  line-height: 1.25;
  color: #000000;
}
.pdf-final .frame-390451 {
  border-top: 0.5px solid #000000;
  border-bottom: 0.5px solid #000000;
  padding: 3.5px 10px;
  width: 60px;
  box-sizing: border-box;
}
.pdf-final .png-transparent-correct-mark-tick-icon-thumbnail-prev-ui-2 {
  background: url('../assets/images/png_transparent_correct_mark_tick_icon_thumbnail_prev_ui.png') 50% / cover no-repeat;
  width: 10px;
  height: 10px;
}
.pdf-final .frame-390463 {
  border-radius: 0 2px 2px 0;
  border: 0.5px solid #000000;
  display: flex;
  padding: 3.5px 0;
  width: 60px;
  height: 18px;
  box-sizing: border-box;
}
.pdf-final .frame-39047 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pdf-final .container-1 {
  margin: 0 36px 16px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 356px;
  box-sizing: border-box;
}
.pdf-final .living-cost-here {
  margin-right: 7px;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .per-year {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-11 {
  margin: 0 36px 18px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 279px;
  box-sizing: border-box;
}
.pdf-final .weekly-working-hour {
  margin-right: 7px;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .hours {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-10 {
  margin: 0 36px 18px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 232px;
  box-sizing: border-box;
}
.pdf-final .average-tentative-monthly-income-possibility-as-astudent {
  margin-right: 26.9px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .container {
  margin-bottom: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-9 {
  margin: 0 36px 36px 36px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pdf-final .social-life {
  margin-right: 7px;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .very-natural {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-8 {
  margin: 0 36px 18px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 249px;
  box-sizing: border-box;
}
.pdf-final .social-aid {
  margin-right: 7px;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .will-be-provide-from-university {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-7 {
  margin: 0 36px 18px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 343px;
  box-sizing: border-box;
}
.pdf-final .scholarship-benefit {
  margin-right: 7px;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .carry-your-spouse {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-6 {
  margin: 0 36px 18px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 283px;
  box-sizing: border-box;
}
.pdf-final .additional-image {
  margin: 0 7px 57.4px 0;
  display: inline-block;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .cambridge-1 {
  background: url('../assets/images/cambridge_1.jpeg') 50% / cover no-repeat;
  margin-right: 10px;
  width: 100px;
  height: 71.4px;
}
.pdf-final .university-66993776401 {
  background: url('../assets/images/university_66993776401.jpeg') 50% / cover no-repeat;
  margin-right: 10px;
  width: 100px;
  height: 71.4px;
}
.pdf-final .harvard-university-campus-1 {
  background: url('../assets/images/harvard_university_campus_1.jpeg') 50% / cover no-repeat;
  width: 100px;
  height: 71.4px;
}
.pdf-final .frame-2 {
  display: flex;
  flex-direction: row;
  width: 320px;
  box-sizing: border-box;
}
.pdf-final .frame-5 {
  margin: 0 56px 14px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 92px);
  box-sizing: border-box;
}
.pdf-final .additional-comment {
  margin: 0 7px 56px 0;
  display: inline-block;
  width: 162px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  color: #4F4F4F;
}
.pdf-final .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500-swhen-an-unknown-printer-took-agalley-of-type-and-scrambled-it-to-make-atype-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: #73808D;
}
.pdf-final .frame-4 {
  margin: 0 43.7px 129.1px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 79.7px);
  box-sizing: border-box;
}
.pdf-final .container-1 {
  margin-right: 0.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.pdf-final .frame-333 {
  background: url('../assets/images/frame_333.png');
  margin: 0.5px 2px 0.5px 0;
  width: 59px;
  height: 19px;
}
.pdf-final .all-rights-reserved {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  color: #000000;
}
.pdf-final .frame-18 {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.pdf-final {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 12.5px;
  box-sizing: border-box;
}
